In [22]:
import requests
import json
import pandas as pd


base_url = 'http://127.0.0.1:5001'

def get_response(endpoint):
    response = requests.get(f'{base_url}/{endpoint}').json()
    data_response = pd.DataFrame(response)
    return data_response.head(15)

In [23]:
all_data = get_response('data/all')
all_data

,Australia,Belgium,Bosnia and Herzegovina,Brazil,Business,Canada,Changes_Habits,Colombia,Coping_Struggles,Corporate,...,Switzerland,Thailand,United Kingdom,United States,Work_Interest,care_options,family_history,mental_health_interview,self_employed,treatment
0,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,0,1,1,0,1
1,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,0,1,2,0,1
2,0,0,0,0,0,0,2,0,0,1,...,0,0,0,0,2,1,0,1,0,1
3,1,0,0,0,0,0,2,0,0,1,...,0,0,0,0,2,1,1,2,0,1
4,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,2,0,2,0,0
5,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,1,0,2,0,0
6,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,2,0,2,0,0
7,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,1,1,2,0,0
8,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,1,0,2,0,0
9,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,2,0,2,0,0
10,0,0,0,0,0,1,2,0,0,1,...,0,0,0,0,2,0,1,2,0,1
11,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,1,0,2,0,1
12,0,0,0,0,0,0,2,0,0,1,...,0,0,1,0,2,2,0,1,0,0
13,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,1,1,2,0,1
14,0,0,0,0,0,0,2,0,0,1,...,0,0,0,0,2,0,1,2,1,1

In [24]:
train = get_response('data/train')
train

,Australia,Belgium,Bosnia and Herzegovina,Brazil,Business,Canada,Changes_Habits,Colombia,Coping_Struggles,Corporate,...,Switzerland,Thailand,United Kingdom,United States,Work_Interest,care_options,family_history,mental_health_interview,self_employed,treatment
0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,1.0,0,1.5,0,2,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,...,0.0,0.0,1.0,0.0,1,2.0,1,2,0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0,0.0,...,0.0,0.0,0.0,1.0,2,1.5,0,2,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,1,0.0,...,0.0,0.0,0.0,1.0,2,0.0,1,2,0,1
4,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,1,0.0,...,0.0,0.0,0.0,1.0,2,0.0,0,2,0,1
5,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,1.0,...,0.0,0.0,1.0,0.0,1,2.0,0,2,0,1
6,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,...,0.0,0.0,0.0,1.0,2,1.5,0,2,0,0
7,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,1,0.0,...,0.0,0.0,0.0,0.0,2,2.0,0,2,1,1
8,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1,1.0,...,0.0,0.0,1.0,0.0,2,2.0,0,2,1,1
9,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,...,0.0,0.0,0.0,1.0,1,2.0,0,2,0,0
10,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0,1.0,...,0.0,0.0,1.0,0.0,0,1.5,1,2,0,1
11,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,1,0.0,...,0.0,0.0,0.0,1.0,1,0.0,0,1,0,1
12,1.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0.0,...,0.0,0.0,0.0,0.0,2,0.0,1,2,0,1
13,1.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,...,0.0,0.0,0.0,0.0,0,1.5,1,2,0,1
14,0.0,0.0,0.0,0.0,1.0,0.0,2,0.0,1,0.0,...,0.0,0.0,0.0,1.0,2,1.5,0,2,0,1

In [25]:
test = get_response('data/test')
test

,Australia,Belgium,Bosnia and Herzegovina,Brazil,Business,Canada,Changes_Habits,Colombia,Coping_Struggles,Corporate,...,Switzerland,Thailand,United Kingdom,United States,Work_Interest,care_options,family_history,mental_health_interview,self_employed,treatment
0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,1.0,...,0.0,0.0,0.0,1.0,2,1.5,0,2,0,1
1,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0,1,0.0,...,0.0,0.0,1.0,0.0,1,2.0,0,2,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0,2.0,0,1,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,1,0.0,...,0.0,0.0,0.0,1.0,1,2.0,1,2,0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,...,0.0,0.0,0.0,0.0,2,2.0,1,2,0,1
5,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0,0.0,...,0.0,0.0,0.0,1.0,2,2.0,0,1,0,0
6,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,1,1.0,...,0.0,0.0,0.0,1.0,0,2.0,1,2,0,1
7,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,...,0.0,0.0,1.0,0.0,0,2.0,0,0,0,1
8,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,1.0,...,0.0,0.0,0.0,1.0,2,0.0,0,2,0,1
9,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,...,0.0,0.0,0.0,1.0,2,2.0,0,2,0,0
10,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,0,0.0,...,0.0,0.0,1.0,0.0,2,2.0,0,2,0,0
11,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,1,0.0,...,0.0,0.0,0.0,1.0,2,2.0,1,2,0,1
12,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,1.0,...,0.0,0.0,0.0,1.0,0,0.0,1,2,0,1
13,0.0,0.0,0.0,0.0,1.0,0.0,0,0.0,1,0.0,...,0.0,0.0,1.0,0.0,2,0.0,0,2,1,1
14,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0,0.0,...,0.0,0.0,0.0,1.0,0,1.5,0,2,0,0

In [26]:
n = 0
id_1 = pd.DataFrame(requests.get(f'{base_url}/data/{n}').json(), index=[0])
id_1

,Australia,Belgium,Bosnia and Herzegovina,Brazil,Business,Canada,Changes_Habits,Colombia,Coping_Struggles,Corporate,...,Switzerland,Thailand,United Kingdom,United States,Work_Interest,care_options,family_history,mental_health_interview,self_employed,treatment
0,0,0,0,0,0,0,2,0,0,1,...,0,0,0,1,2,0,1,1,0,1

In [27]:
prediction = requests.post(f'{base_url}/predict', json=requests.get(f'{base_url}/data/test').json()[0])
print(json.dumps(prediction.json(), indent=2, ensure_ascii=False))

{
  "prediccion": [
    0.7877145679280583
  ]
}

In [28]:
get_response('query?Changes_Habits=2&Business=1')

,Australia,Belgium,Bosnia and Herzegovina,Brazil,Business,Canada,Changes_Habits,Colombia,Coping_Struggles,Corporate,...,Switzerland,Thailand,United Kingdom,United States,Work_Interest,care_options,family_history,mental_health_interview,self_employed,treatment
0,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,0,1,1,0,1
1,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,0,1,2,0,1
2,0,0,0,0,1,0,2,0,0,0,...,0,0,0,0,2,1,0,1,0,1
3,1,0,0,0,1,0,2,0,0,0,...,0,0,0,0,2,1,1,2,0,1
4,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,2,0,2,0,0
5,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,1,0,2,0,0
6,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,2,0,2,0,0
7,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,1,1,2,0,0
8,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,1,0,2,0,0
9,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,2,0,2,0,0
10,0,0,0,0,1,1,2,0,0,0,...,0,0,0,0,2,0,1,2,0,1
11,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,1,0,2,0,1
12,0,0,0,0,1,0,2,0,0,0,...,0,0,1,0,2,2,0,1,0,0
13,0,0,0,0,1,0,2,0,0,0,...,0,0,0,1,2,1,1,2,0,1
14,0,0,0,0,1,0,2,0,0,0,...,0,0,0,0,2,0,1,2,1,1