In [40]:
from flask import Flask, request, jsonify
import pandas as pd

In [41]:
app = Flask(__name__)
app.config['DEBUG'] = False

In [42]:
data = pd.read_csv('data/data.csv')

In [43]:
data = data.apply(lambda x: x.astype(int))

In [44]:
data = pd.DataFrame(data)

In [45]:
data.head()

,Gender,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,...,South Africa,Sweden,Switzerland,Thailand,United Kingdom,United States,Business,Corporate,Housewife,Student
0,1,0,1,1,1,0,2,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,1,0,1,1,1,0,2,0,1,0,...,0,0,0,0,0,1,0,1,0,0
2,1,0,0,1,1,0,2,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,1,0,1,1,1,0,2,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,1,0,2,0,1,0,...,0,0,0,0,0,1,0,1,0,0

In [46]:
data_dict = data.to_dict(orient="records")

In [47]:
data_train = pd.read_csv('data/train.csv')

In [48]:
data_test = pd.read_csv('data/test.csv')

In [49]:
len(data_train)

229729

In [50]:
len(data_test)

57433

In [51]:
import pickle

with open('data/rnd_frt.pkl', 'rb') as model_file:
    model = pickle.load(model_file)

In [52]:
@app.route('/', methods=['GET'])
def home():
  return '<h1>Home</h1>'

@app.route('/data/all', methods=['GET'])
def all_data():
  return jsonify(data.to_dict(orient="records"))

@app.route('/data/train', methods=['GET'])
def train_data():
  return jsonify(data_train.to_dict(orient="records"))

@app.route('/data/test', methods=['GET'])
def test_data():
  return jsonify(data_test.to_dict(orient="records"))

@app.route('/data/<int:id>', methods=['GET'])
def api_id(id): 
    return jsonify(data.iloc[id].to_dict())

@app.route('/query', methods=['GET'])
def get_query():
    change = int(request.args["Changes_Habits"])
    business = int(request.args["Business"])
    results = data[(data["Business"]== business) & (data["Changes_Habits"] == change)] 
    return jsonify(results.to_dict(orient="records"))

@app.route('/predict', methods=['POST'])
def get_prediction():
    observacion = request.json
    columns = data_train.columns
    df_observacion = pd.DataFrame([observacion], columns=columns)
    prediccion = model.predict(df_observacion)
    return jsonify({"prediccion": prediccion.tolist()})



app.run(port=5001)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5001
Press CTRL+C to quit
127.0.0.1 - - [29/Jul/2024 20:06:49] "GET /data/all HTTP/1.1" 200 -
127.0.0.1 - - [29/Jul/2024 20:07:02] "GET /data/train HTTP/1.1" 200 -
127.0.0.1 - - [29/Jul/2024 20:07:08] "GET /data/test HTTP/1.1" 200 -
127.0.0.1 - - [29/Jul/2024 20:07:10] "GET /data/0 HTTP/1.1" 200 -
127.0.0.1 - - [29/Jul/2024 20:07:11] "GET /data/test HTTP/1.1" 200 -
127.0.0.1 - - [29/Jul/2024 20:07:12] "POST /predict HTTP/1.1" 200 -
127.0.0.1 - - [29/Jul/2024 20:07:12] "GET /query?Changes_Habits=2&Business=1 HTTP/1.1" 200 -